.btn {
padding: 15px;
}
.h1 {
    text-align: center;
    justify-content: center;
    color: white;
    padding: 20px;
}
.forecast {
    background-color: blue;
    color: white;
}
.citys {
padding: 10px;
justify-content: space-around;
}